<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bookings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-segment value="upcoming" (ionChange)="segmentChanged($event)">
  <ion-segment-button value="upcoming">UPCOMING</ion-segment-button>
  <ion-segment-button value="past">PAST</ion-segment-button>
</ion-segment>
<ion-content class="ion-no-padding ion-no-margin">
  <ion-card
    button
    style="margin-bottom: -5px;"
    *ngFor="let bookings of providerBookings"
    (click)="viewJobDetails(bookings.provider_id)"
  >
    <ion-grid>
      <ion-row class="ion-align-items-end">
        <ion-col class="ion-float-right ion-text-right">
          {{ bookings.book_date }} {{ bookings.time }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <ion-avatar style="margin-top: -5px;">
            <ion-img [src]="serverImage + bookings.providers.image"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col size-sm="9" style="padding-top: 0px;">
          <ion-label class="ion-text-sm-left">
            <h3 style="font-weight: bold; font-size: 18px;">
              {{ bookings.providers.first_name }} {{
              bookings.providers.last_name }}
            </h3>
            <h4 style="color: green;">
              <ion-icon name="location" slot="start"></ion-icon> Job Location
            </h4>
            <h4>{{ bookings.users.location }}</h4>
            <h4>{{ bookings.users.address }}</h4>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row size-sm="12">
        <ion-label *ngIf="bookings.status == 'Pending'"
          >Status:
          <span style="color: green;">{{ bookings.status }}</span></ion-label
        >
        <ion-label *ngIf="bookings.status == 'Completed'"
          >Status:
          <span style="color: green;">{{ bookings.status }}</span></ion-label
        >
        <ion-label *ngIf="bookings.status == 'Accepted'"
          >Status:
          <span style="color: rgb(152, 133, 170);"
            >{{ bookings.status }}</span
          ></ion-label
        >
        <ion-label *ngIf="bookings.status == 'Declined'"
          >Status:
          <span style="color: red;">{{ bookings.status }}</span></ion-label
        >
        <ion-label *ngIf="bookings.status == 'Cancelled'"
          >Status:
          <span style="color: red;">{{ bookings.status }}</span></ion-label
        >
        <ion-label *ngIf="bookings.status == 'Started'"
          >Status:
          <span style="color: yellow;">{{ bookings.status }}</span></ion-label
        >
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
