<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bookings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-segment>
  <ion-segment-button value="upcomming" selected>UPCOMING</ion-segment-button>
  <ion-segment-button value="past">PAST</ion-segment-button>
</ion-segment>
<ion-content class="ion-no-padding ion-no-margin" *ngFor="let bookings of providerBookings">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="10" offset-sm="1" no-margin no-padding>
        <ion-card>
         <div style="margin: 5px 0px 0px 130px;">
            <ion-text slot="end" style="font-size: 14px;"
              >{{ bookings.book_date }}, {{ bookings.time_from }} - {{
              bookings.time_to }}</ion-text
            >
          </div>
          <ion-item class="ion-no-padding ion-no-margin" lines="full" button (click)="viewJobDetails(bookings.provider_id)">
            <ion-avatar>
              <ion-img [src]="serverImage + bookings.providers.image"></ion-img>
            </ion-avatar>
            <ion-label style="margin-top: 15px;">
              <h3 style="font-weight: bold; font-size: 18px;">
                {{ bookings.providers.first_name }} {{
                bookings.providers.last_name }}
              </h3>
              <h4 style="color: green">{{ bookings.category }}</h4>
            </ion-label>
            <ion-label button (click)="viewJobDetails(bookings.provider_id)" style="text-align: right"
              >View Job Detail</ion-label
            >
          </ion-item>
          <ion-item lines="none">
            <ion-label *ngIf="bookings.status == 'Pending'"
              >Status:
              <span style="color: yellowgreen"
                >{{ bookings.status }}</span
              ></ion-label
            >
            <ion-label *ngIf="bookings.status == 'Accepted'"
              >Status:
              <span style="color: rgb(152, 133, 170)">{{ bookings.status }}</span></ion-label
            >
            <ion-label *ngIf="bookings.status == 'Completed'"
              >Status:
              <span style="color: green">{{ bookings.status }}</span></ion-label
            >
            <ion-label *ngIf="bookings.status == 'Declined'"
              >Status:
              <span style="color: red">{{ bookings.status }}</span></ion-label
            >
            <ion-label *ngIf="bookings.status == 'Cancelled'"
              >Status:
              <span style="color: red">{{ bookings.status }}</span></ion-label
            >
            <ion-label *ngIf="bookings.status == 'Started'"
              >Status:
              <span style="color: yellow">{{ bookings.status }}</span></ion-label
            >
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
