<ion-app>
  <ion-menu side="start" menuId="1" contentId="main">
    <ion-header no-border>
      <ion-toolbar color="primary">
        <ion-item lines="none" color="primary">
          <ion-avatar style="width: 70px; height: 70px;">
            <ion-img [src]="serverImage + image"></ion-img>
          </ion-avatar>
          <ion-title>
            <li style="list-style: none; font-size: 20px">{{ name }}</li>
            <li style="list-style: none; font-size: 15px">
              {{ email }}
            </li>
          </ion-title>
        </ion-item>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" button routerLink="/user-dashboard">
            <ion-icon name="apps" slot="start"></ion-icon>
            <ion-label>Categories</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" button routerLink="/bookings">
            <ion-icon name="calendar" slot="start"></ion-icon>
            <ion-label>Bookings</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" button>
            <ion-icon name="notifications" slot="start"></ion-icon>
            <ion-label>Notifications</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" button>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>Account</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
            <ion-item lines="none" button>
              <ion-icon name="mail" slot="start"></ion-icon>
              <ion-label>Contact us</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item lines="none" button>
              <ion-icon name="people" slot="start"></ion-icon>
              <ion-label>About us</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
              <ion-item lines="none" button>
                <ion-icon name="lock-closed" slot="start"></ion-icon>
                <ion-label>Privacy policy</ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle>
              <ion-item lines="none" button>
                <ion-icon name="list" slot="start"></ion-icon>
                <ion-label>FAQs & Terms</ion-label>
              </ion-item>
            </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-menu-toggle>
        <ion-toolbar color="danger" button>
          <ion-item lines="none" color="danger">
            <ion-icon name="log-out" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-toolbar>
      </ion-menu-toggle>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
