<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/user-dashboard'"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<div *ngFor="let profile of userProfile" style="z-index: inherit;">
  <div class="profile-box">
    <ion-avatar>
      <ion-img class="img" [src]="serverImage + profile.users.image"></ion-img>
    </ion-avatar>
  </div>
  <div class="profile-text">
    <p>
      <span style="font-weight: bold; font-size: 14px"
        >{{ profile.users.first_name }} {{ profile.users.last_name }}</span
      >
      | {{ profile.users.user_services[0].categories.name }}
    </p>
  </div>
  <div class="profile-buttons" style="border: none">
    <ion-button expand="full" color="primary" (click)="onBookingModal()">
      <ion-icon name="checkmark-circle" slot="start"></ion-icon>
      Book Now
    </ion-button>
    <ion-button expand="full" color="primary" (click)="openMap()">
      <ion-icon name="locate" slot="start"></ion-icon>
      Location
    </ion-button>
  </div>
</div>

<ion-segment>
  <ion-segment-button value="about" checked>ABOUT</ion-segment-button>
  <ion-segment-button value="reviews">REVIEWS</ion-segment-button>
</ion-segment>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small">
      <ion-icon name="call" size="small"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid *ngFor="let profile of userProfile">
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <h4 style="font-weight: bold; color: green; font-size: 16px">
          Professional Summary
        </h4>
        <ion-text>{{ profile.professional_summary }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <h4 style="font-weight: bold; color: green; font-size: 16px">
          Services
        </h4>
        <li *ngFor="let userService of userServices" style="list-style: none">
          {{ userService.services.name }}
        </li>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <h4 style="font-weight: bold; color: green; font-size: 16px">
          Certificate
        </h4>
        <ion-text>{{ profile.certificate }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <h4 style="font-weight: bold; color: green; font-size: 16px">
          Experience
        </h4>
        <ion-text>{{ profile.experience }} years</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <h4 style="font-weight: bold; color: green; font-size: 16px">
          Location
        </h4>
        <ion-text>{{ profile.job_location }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <h4 style="font-weight: bold; color: green; font-size: 16px">
          Address
        </h4>
        <ion-text>{{ profile.job_address }}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>









<!-- While content loads. Load skeleton texts -->
<div *ngIf="!userProfile" style="z-index: inherit;">
  <div class="profile-box">
    <ion-avatar>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-avatar>
  </div>
  <div class="profile-text">
    <p>
      <span style="font-weight: bold; font-size: 14px"
        ><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text
      ></span>
      | <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
    </p>
  </div>
  <div class="profile-buttons" style="border: none">
    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
  </div>
</div>

<ion-content *ngIf="!userProfile">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <h4 style="font-weight: bold; color: green; font-size: 16px">
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </h4>
        <ion-text
          ><ion-skeleton-text animated style="height: 100%"></ion-skeleton-text
        ></ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <h4 style="font-weight: bold; color: green; font-size: 16px">
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h4>
        <li *ngFor="let userService of userServices" style="list-style: none">
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </li>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <h4 style="font-weight: bold; color: green; font-size: 16px">
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </h4>
        <ion-text
          ><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text
        ></ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <h4 style="font-weight: bold; color: green; font-size: 16px">
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </h4>
        <ion-text
          ><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text
        ></ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <h4 style="font-weight: bold; color: green; font-size: 16px">
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </h4>
        <ion-text
          ><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text
        ></ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <h4 style="font-weight: bold; color: green; font-size: 16px">
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </h4>
        <ion-text
          ><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text
        ></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
