<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="'/user-dashboard/user-services/' + categoryId"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <ion-item
          lines="full"
          class="ion-no-padding"
          button
          *ngFor="let userService of userServices"
          (click)="userProfilePage(userService.users.id)"
        >
          <ion-avatar>
            <ion-img [src]="serverImage + userService.users.image"></ion-img>
          </ion-avatar>
          <ion-label class="ion-text-wrap">
            <h3 style="font-weight: bold">
              {{ userService.users.first_name }} {{ userService.users.last_name
              }}
            </h3>
            <h4 style="color: green">{{ userService.categories.name }}</h4>
          </ion-label>
        </ion-item>

        <div *ngIf="!userServices || userServices.length <= 0">
          <ion-item
            lines="full"
            class="ion-no-padding"
            button
            *ngFor="let item of [1,2,3,4,5]"
          >
            <ion-avatar>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label class="ion-text-wrap">
              <h3>
                <ion-skeleton-text
                  animated
                  style="width: 80%"
                ></ion-skeleton-text>
              </h3>
              <h4>
                <ion-skeleton-text
                  animated
                  style="width: 80%"
                ></ion-skeleton-text>
              </h4>
            </ion-label>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
